<section class="users">
  <div class="section-title">
    <div class="wrapper">
      <h2>Inicio de sesión</h2>
    </div>
  </div>

  <div class="form-container">
    <div class="wrapper">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label 'Número de teléfono' %><br />
          <%= f.phone_field :phone_number, autofocus: true, autocomplete: "phone", class: 'form-control' %>
        </div>

        <div class="field">
          <%= f.label 'Contraseña' %><br />
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-check">
            <%= f.check_box :remember_me, class: 'form-check-input' %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Log in", class: 'btn btn-other' %>
        </div>
      <% end %>
    </div>
  </div>
</section>